.entireSite
{
    background-color: rgb(255, 255, 255);
    font-family: 'Overpass', sans-serif;
}

.landingPageContentDivider
{
    display: flex;
}

.landingPageFlexBox
{
    display: flex;
}

.landingPageEmailBox
{
    width: 500px;
    height: 50px;
    padding: 12px 20px;
    margin: 18px 0;
    margin-top: -15px;
    margin-left: 75px;
    display: inline-block;
    font-size:20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}

.landingPageTitle
{
    font-size: 120px;
    font-weight: 900;
    margin-top: 18px;
    margin-left: 25px;
}

.landingPageLogo
{
    height: 150px;
    width:100px;

    margin-top:15px;
    margin-left: 15px;
}

.landingPageDescription
{
    font-size: 40px;
    inline-size: 850px;
    width: 830px;    
    overflow-wrap: break-word;

    margin-top:-25px;
    margin-left: 25px;

}

.landingButtons
{
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #e9c40d;
    border: none;
    color: white;
    padding: 15px;
    width: 200px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-top: -30px;

    border-radius: 40px;
}

.landingPageInfoColumn
{
    margin-top:25px;
    border-radius: 25px;
    background: #e9c40d;
    padding: 20px; 
    width: 600px;
    height: 700px;  
}

.infoContentTitle
{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    margin-top: 0px;
}

.getStartedText
{
    padding-left: 25px;
    font-size: 35px;
    font-weight: 500;
}

.footer
{
    font-weight: 100;
    position: fixed;
    bottom: 0;
    font-size: 11px;
}

.infoContent
{
    font-size: 17px;
    margin-top: -25px;
}

.infoList
{
    font-size: 25px;
}

.infoListItem
{
    padding-bottom: 15px;
}

.githubLink
{
    color: black;
}

.githubLinkText
{
    padding-left:160px;
}

.popup
{
    margin-top:25px;
    border-radius: 25px;
    background: #e9c40d;
    padding: 20px; 
    width: 600px;
    height: 700px;  
}

.registerFlexbox
{
    margin-left:-30px;
    display: flex;
}